{{ if not .Params.meta }}
<section class="post-nav">
    <ul>
        {{ with .PrevInSection }}
        <li>
            <a href="{{.Permalink}}"><i class="fa fa-chevron-circle-left"></i> {{ .Title }}</a>
        </li>
        {{ end }}
        {{ with .NextInSection }}
        <li>
            <a href="{{.Permalink}}">{{ .Title }} <i class="fa fa-chevron-circle-right"></i> </a>
        </li>
        {{ end }}
    </ul>
</section>
{{"<!-- begin comments //-->" | safeHTML}}
<section id="isso-thread">
    <!-- {{ partial "dummycomments.html" . }} -->
</section>
{{"<!-- end comments //-->" | safeHTML}}
{{ end }}
